---
layout: page
title: Hi, I'm Shahbaz
subtitle: Data Science and Computer Scientist
fb-img: shasyed1.github.io
css: "/css/index.css"
meta-title: "Shahbaz Syed"
meta-description: "Data/Computer Science student with a Background in Molecular and Cellular Biology/Computer Science"
bigimg:
  - "/img/IMG_1699.jpg": "Masjid Ceiling, Malaysia (2017)"
  - "/img/1Lake_Geneva2018.jpg": "Lake Geneva, Lake Geneva, WI (2018)"
  - "/img/bok_tower_gardens.jpg": "Bok Tower Gardens, FL (2018)"
  - "/img/El_Yunque.jpg": "El Yunque Rainforest, PR (2017)"
  - "/img/Malaysian-Masjid.jpg": "Masjid, Malaysia (2017)"
  - "/img/Malaysia-Islamic_Arts_Museum2017.jpg": "Islamic Arts Museum, Malaysia (2017)"
  - "/img/Colorado2018.jpg": "Denver, CO (2018)"
  - "/img/HuntingtonBeach.jpeg": "Huntington Beach, CA (2018)"

---

<!-- <div align="center"> </div>  -->

<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<h1> <div align = "center" style="font-family: 'Permanent Marker', cursive;">Recent Blog Posts: </div> </h1>

<hr>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 40 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
